@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&amp;display=swap');
* 
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white; 
  transition: all 0.2s ease-in;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: auto; 
}
 
body::-webkit-scrollbar{
  display: none;
}

.home-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.home-button {
  color: black;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black; 
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.home-button:hover {
  background-color: black; 
  color: #f6f4e6; 
}

h1 {
  color: black;
  font-size: 90px;
  font-family: 'Poppins', sans-serif;
  margin-left: 960px;
  margin-top: 140px;
}


h5 {
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: 960px;
  margin-top: -25px;
}

p {
  color: black;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin-left: 960px;
  margin-top: 20px;
}

.about-box {
  border: 2px solid #333;
  padding: 20px;
  border-radius: 8px;
  background-color: #f1f1f1;
  width: 300px;
  max-width: 100%;
  margin: 20px auto;
  margin-top: 510px;
  margin-left: 200px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.about-box h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.experience-box {
  border: 2px solid #333;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent;
  width: 300px;
  max-width: 100%;
  margin: 20px auto;
  margin-top: -220px;
  margin-left: 800px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.experience-box h2 {
  font-size: 24px;
  margin: 0 0 10px;
}



#infotext {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 18px;
  margin-left: 30px;
  color: black; 
}

#phonetext {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 18px;
  margin-left: 30px;
  color: black;
}

#emailtext {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 18px;
  margin-left: 30px;
  color: black; 
}

#htmltext {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 18px;
  margin-left: 30px;
  color: black; 
}

#csstext {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 18px;
  margin-left: 30px;
  color: black; 
}

#jstext {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 18px;
  margin-left: 30px;
  color: black; 
}

.moncef-container {
  position: absolute;
  top: 190px;
  left: 360px;
}

.moncefpng {
  width: 510px;
  height: 625px;
  margin: 5px;
  margin-left: 30px;
  padding: 5px;
  border-radius: 10%;
}

.html-container {
  position: absolute;
  top: 1130px;
  left: 806px;
}

.htmlpng {
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  border-radius: 10%;
}

.css-container {
  position: absolute;
  top: 1170px;
  left: 806px;
}

.csspng {
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  border-radius: 10%;
}

.js-container {
  position: absolute;
  top: 1210px;
  left: 806px;
}

.jspng {
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  border-radius: 10%;
}

.earth-container {
  position:relative;
  top: 1030px;
  left: 210px;
}

.earthpng {
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  border-radius: 10%;
}

.phone-container {
  position:relative;
  top: 1120px;
  left: 210px;
}

.phonepng {
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  border-radius: 10%;
}

.email-container {
  position:relative;
  top: 1210px;
  left: 210px;
}

.emailpng {
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  border-radius: 10%;
}

.dark-mode {
  background-color: #1d1c1a;
}

.dark-mode h1,
.dark-mode h5,
.dark-mode p {
  color: #f6f4e6; 
}

.dark-mode .home-button {
  color: #f6f4e6;
  background-color: #1d1c1a; 
  border-color: #f6f4e6; 
}

.dark-mode .home-button:hover {
  background-color: #f6f4e6; 
  color: #272727; 
}

.darkmodebutton {
  position: absolute;
  top: 10px;
  left: 1890px;
  border-width: 0px;
  background-color: transparent;
  font-size: 1.2em; 
}


.about-box {
   background-color: transparent;
  opacity: 1; 
}


.dark-mode #infotext {
  color: #f1f1f1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; 
}

.dark-mode #phonetext {
  color: #f1f1f1;
  opacity: 1; 
  transition: opacity 0.5s ease-in-out; 
}

.dark-mode #htmltext {
  color: #f1f1f1;
  opacity: 1; 
  transition: opacity 0.5s ease-in-out;
}
.dark-mode #csstext {
  color: #f1f1f1;
  opacity: 1; 
  transition: opacity 0.5s ease-in-out; 
}

.dark-mode #jstext {
  color: #f1f1f1;
  opacity: 1; 
  transition: opacity 0.5s ease-in-out; 
}

.dark-mode #emailtext {
  color: #f1f1f1;
  opacity: 1; 
  transition: opacity 0.5s ease-in-out;
}

.dark-mode .about-box {
  color: #f1f1f1;
  border-color: #f1f1f1;
  opacity: 1; 
  transition: opacity 0.5s ease-in-out;
}

.dark-mode .about-box.fade-in {
  opacity: 1; 
}

.dark-mode .about-box.fade-out {
  opacity: 0; 
}

.dark-mode .experience-box {
  color: #f1f1f1;
  border-color: #f1f1f1;
  opacity: 1; 
  transition: opacity 0.5s ease-in-out;
}

.dark-mode .experience-box.fade-in {
  opacity: 1; 
}

.dark-mode .experience-box.fade-out {
  opacity: 0; 
}


